__pycache__/
*.pyc
design_*/
design_*.yaml
*.npy
*.npz
*.png
*.3dbv
*.3dbx
*.3dbf
*.pdf
*.joblib
.codex
*.tar.zst
*.zip
*.tar.gz
*.tar
*.7z
*.csv
*.nfs*
cfg.yaml
temp/
*.out
show_profile.py
W2W/*profile*.txt
total_stack_warpage_16die.ipynb